{{#resume.basics}}
        <div id="headerbg">
        <div id="resume">
        <div id="header">
        
            <a href="https://github.com/xetamus/resume"><img id="githubbanner" style="position: relative; top: 135px; left: 775px; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>

            <h1>{{name}}</h1>


            <div class="about">
                <table id="contact">
                    <tr>
                        <td><i class="fa fa-envelope-o"></i></td> 
                        <td>{{email}}</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-phone"></i></td>
                        <td>{{phone}}</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-map-pin"></i></td>
                        <td>{{location.city}}, {{location.region}}</td>
                    </tr>
                    {{#profiles}}
                    <tr>
                        <td><a href="{{url}}"><i class="fa fa-{{network}}"></i></a></td>
                        <td><a href="{{url}}">{{ url }}</a></td>
                    </tr>
                    {{/profiles}}
                </table>
            </div>
        </div>
        </div>
        </div>

        <div id="resume">

        <table class="section" id="blurb">
            <tr>
                <td><i class= "fa fa-body fa-user-circle left"></i></td>
                <td>{{summary}}</td>
            </tr>
        </table>
{{/resume.basics}}
