{{#resume.basics}}
        <header>
            <h1>{{name}}</h1>
            <div class="about">
                <table>
                    <tr>
                        <td><i class="fa fa-envelope-o"></i></td> 
                        <td>{{email}}</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-phone"></i></td>
                        <td>{{phone}}</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-map-pin"></i></td>
                        <td>{{location.city}}, {{location.region}}</td>
                    </tr>
                    {{#profiles}}
                    <tr>
                        <td><i class="fa fa-{{network}}"></i></td>
                        <td>{{ url }}</td>
                    </tr>
                    {{/profiles}}
                </table>
            </div>
        </header>

        <div id="resume">

<!--
            <div class="section" id= "about">
                <h2><i class= "fa fa-body fa-user-circle left"></i> ABOUT</h2>
                <p>
                    {{summary}}
                </p>
            </div>
-->
{{/resume.basics}}
