            <div id= "education">
			<h2><i class= "fa fa-graduation-cap left"></i> EDUCATION</h2>
			{{#each resume.education}}
				<h3>{{studyType}}, {{area}} - {{institution}}</h3>
				{{startDate}} - {{endDate}}
			{{/each}}
		    </div>
