            <div class="section" id="work">
            <h2><i class= "fa fa-suitcase left"></i> WORK EXPERIENCE</h2>
            {{#each resume.work}}
                <div class="job">
                    <h3>{{position}}, {{company}}</h3>
                    {{startDate}} - {{endDate}}
                    <ul>
                        <li>{{summary}}</li>
                        {{#highlights}}
                        <li>{{.}}</li>
                        {{/highlights}}
                    </ul>
                </div>
            {{/each}}
            </div>
